# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hello\Documents\Metropolia Projects\assembly-robot-simulator\.idea/dataSources/
/dataSources.local.xml
